{% extends "base.html" %}
{% block title %}Profile{% endblock %}

{% block content %}
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad">

                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">{{ user.first_name }} {{ user.last_name }}</h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-3 col-lg-3 " align="center"><img alt="User Pic"
                                                                                    src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=100"
                                                                                    class="img-circle"></div>

                                <div class=" col-md-9 col-lg-9 ">
                                    <table class="table table-user-information">
                                        <tbody>
                                        <tr>
                                            <td>Username:</td>
                                            <td>{{ user.username }}</td>
                                        </tr>
                                        <tr>
                                            <td>Email:</td>
                                            <td>{{ user.email }}</td>
                                        </tr>
                                        <tr>
                                            <td>Address:</td>
                                            <td>{{ user.shareuser.street_address }}<br>
                                                {{ user.shareuser.city }}, {{ user.shareuser.state }} {{ user.shareuser.zipcode }}
                                            </td>
                                        </tr>

                                        </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <a href="{% url 'accounts:my_shed' %}" title="My Sheds" class="btn btn-sm btn-primary">
                                <i class="glyphicon glyphicon-home"></i></a>
                            <a href="{% url 'accounts:my_tool' %}" title="My Tools" class="btn btn-sm btn-primary">
                                <i class="glyphicon glyphicon-wrench"></i></a>
                        <span class="pull-right">
                            <a href="{% url 'accounts:edit' %}" title="Edit this user" class="btn btn-sm btn-warning">
                                <i class="glyphicon glyphicon-edit"></i></a>
                        </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
