{% extends "base.html" %}
{% block title %}Terms and Conditions{% endblock %}

{% block content %}
    <div class="container">
    <div class="panel panel-default">
    <div class="panel-body">
    <p class="MsoNormal" align="center" style="text-align:center"><b>Licenses Used in Creation of this Website</b>
        <o:p></o:p>
    </p>

    <p class="MsoNormal"><b><span style="font-size:10.0pt;line-height:107%">Django<o:p></o:p></span></b></p>

    <p class="MsoNormal"><span style="font-size:10.0pt;line-height:107%">Copyright ©
Django Software Foundation and individual contributors.<o:p></o:p></span></p>

    <p class="MsoNormal"><span style="font-size:10.0pt;line-height:107%">All rights
reserved.<o:p></o:p></span></p>

    <p class="MsoNormal"><span style="font-size:10.0pt;line-height:107%"><o:p>&nbsp;</o:p></span></p>

    <p class="MsoNormal"><span style="font-size:10.0pt;line-height:107%">Redistribution
and use in source and binary forms, with or without modification, are permitted
provided that the following conditions are met:<o:p></o:p></span></p>

    <p class="MsoNormal"><span style="font-size:10.0pt;line-height:107%"><o:p>&nbsp;</o:p></span></p>

    <p class="MsoNormal"><span style="font-size:10.0pt;line-height:107%">&nbsp;&nbsp;&nbsp; 1. Redistributions of source code must
retain the above copyright notice, this list of conditions and the following
disclaimer.<o:p></o:p></span></p>

    <p class="MsoNormal"><span style="font-size:10.0pt;line-height:107%"><o:p>&nbsp;</o:p></span></p>

    <p class="MsoNormal"><span style="font-size:10.0pt;line-height:107%">&nbsp;&nbsp;&nbsp; 2. Redistributions in binary form must
reproduce the above copyright notice, this list of conditions and the following
disclaimer in the documentation and/or other materials provided with the
distribution.<o:p></o:p></span></p>

    <p class="MsoNormal"><span style="font-size:10.0pt;line-height:107%"><o:p>&nbsp;</o:p></span></p>

    <p class="MsoNormal"><span style="font-size:10.0pt;line-height:107%">&nbsp;&nbsp;&nbsp; 3. Neither the name of Django nor the names
of its contributors may be used to endorse or promote products derived from
this software without specific prior written permission.<o:p></o:p></span></p>

    <p class="MsoNormal"><span style="font-size:10.0pt;line-height:107%"><o:p>&nbsp;</o:p></span></p>

    <p class="MsoNormal"><span style="font-size:10.0pt;line-height:107%">THIS
SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS
IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO,
THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE
FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER
CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY,
OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.<o:p></o:p></span></p>

    <p class="MsoNormal"><b><span style="font-size:10.0pt;line-height:107%"><o:p>&nbsp;</o:p></span></b></p>

    <p class="MsoNormal"><b><span style="font-size:10.0pt;line-height:107%">Moment.js</span></b><span
            style="font-size:10.0pt;line-height:107%"><o:p></o:p></span></p>

    <p class="MsoNormal"><span style="font-size:10.0pt;line-height:107%">Copyright ©
2011-2014 Tim Wood, Iskren Chernev, Moment.js contributors<o:p></o:p></span></p>

    <p class="MsoNormal"><span style="font-size:10.0pt;line-height:107%"><o:p>&nbsp;</o:p></span></p>

    <p class="MsoNormal"><span style="font-size:10.0pt;line-height:107%">Permission
is hereby granted, free of charge, to any person obtaining a copy of this
software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights to
use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies
of the Software, and to permit persons to whom the Software is furnished to do
so, subject to the following conditions:<o:p></o:p></span></p>

    <p class="MsoNormal"><span style="font-size:10.0pt;line-height:107%">The above
copyright notice and this permission notice shall be included in all copies or
substantial portions of the Software.<o:p></o:p></span></p>

    <p class="MsoNormal"><span style="font-size:10.0pt;line-height:107%">THE SOFTWARE
IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.<o:p></o:p></span></p>

    <p class="MsoNormal"><b><span style="font-size:10.0pt;line-height:107%"><o:p>&nbsp;</o:p></span></b></p>

    <p class="MsoNormal"><b><span style="font-size:10.0pt;line-height:107%">Bootstrap 3<o:p></o:p></span></b></p>

    <p class="MsoNormal"><span style="font-size:10.0pt;line-height:107%">The MIT
License (MIT)<o:p></o:p></span></p>

    <p class="MsoNormal"><span style="font-size:10.0pt;line-height:107%"><o:p>&nbsp;</o:p></span></p>

    <p class="MsoNormal"><span style="font-size:10.0pt;line-height:107%">Copyright © 2011-2014
Twitter, Inc<o:p></o:p></span></p>

    <p class="MsoNormal"><span style="font-size:10.0pt;line-height:107%"><o:p>&nbsp;</o:p></span></p>

    <p class="MsoNormal"><span style="font-size:10.0pt;line-height:107%">Permission
is hereby granted, free of charge, to any person obtaining a copy of this
software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights to
use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies
of the Software, and to permit persons to whom the Software is furnished to do
so, subject to the following conditions:<o:p></o:p></span></p>

    <p class="MsoNormal"><span style="font-size:10.0pt;line-height:107%"><o:p>&nbsp;</o:p></span></p>

    <p class="MsoNormal"><span style="font-size:10.0pt;line-height:107%">The above
copyright notice and this permission notice shall be included in all copies or
substantial portions of the Software.<o:p></o:p></span></p>

    <p class="MsoNormal"><span style="font-size:10.0pt;line-height:107%"><o:p>&nbsp;</o:p></span></p>

    <p class="MsoNormal"><span style="font-size:10.0pt;line-height:107%">THE SOFTWARE
IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED,
INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR
COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER
IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN
CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.<o:p></o:p></span></p>

    <p class="MsoNormal"><span style="font-size:10.0pt;line-height:107%"><o:p>&nbsp;</o:p></span></p>

    <p class="MsoNormal"><b><span style="font-size:10.0pt;line-height:107%">Postman</span></b><span
            style="font-size:10.0pt;line-height:107%"><o:p></o:p></span></p>

    <p class="MsoNormal"><span style="font-size:10.0pt;line-height:107%">Copyright © 2010,
Patrick Samson<b>.</b><o:p></o:p></span></p>

    <p class="MsoNormal"><a name="cl-2"></a><span style="font-size:10.0pt;line-height:
107%">All rights reserved<b>.</b><o:p></o:p></span></p>

    <p class="MsoNormal"><a name="cl-3"></a><span style="font-size:10.0pt;line-height:
107%"><o:p>&nbsp;</o:p></span></p>

    <p class="MsoNormal"><a name="cl-4"></a><span style="font-size:10.0pt;line-height:
107%">Redistribution and use in source and binary forms, with or without modification,<a name="cl-5"></a> are permitted provided that the following conditions are met:<o:p></o:p></span>
    </p>

    <p class="MsoNormal"><a name="cl-6"></a><span style="font-size:10.0pt;line-height:
107%"><o:p>&nbsp;</o:p></span></p>

    <p class="MsoNormal"><a name="cl-7"></a><span style="font-size:10.0pt;line-height:
107%">&nbsp;&nbsp;&nbsp; 1<b>.</b> Redistributions of source
code must retain the above copyright notice,<a name="cl-8"></a> this list of conditions
and the following disclaimer<b>.</b><o:p></o:p></span></p>

    <p class="MsoNormal"><a name="cl-9"></a><span style="font-size:10.0pt;line-height:
107%">&nbsp;&nbsp;&nbsp; <o:p></o:p></span></p>

    <p class="MsoNormal"><a name="cl-10"></a><span style="font-size:10.0pt;line-height:
107%">&nbsp;&nbsp;&nbsp; 2<b>.</b> Redistributions in binary
form must reproduce the above copyright <a name="cl-11"></a>notice, this list of conditions
and the following disclaimer in the<a name="cl-12"></a> documentation and<b>/</b>or
other materials provided with the distribution<b>.</b><o:p></o:p></span></p>

    <p class="MsoNormal"><a name="cl-13"></a><span style="font-size:10.0pt;line-height:
107%"><o:p>&nbsp;</o:p></span></p>

    <p class="MsoNormal"><a name="cl-14"></a><span style="font-size:10.0pt;line-height:
107%">&nbsp;&nbsp;&nbsp; 3<b>.</b> Neither the name of django<b>-</b>postman
nor the names of its contributors<a name="cl-15"></a> may be used to endorse or promote
products derived from this software<a name="cl-16"></a> without specific prior written
permission<b>.</b><o:p></o:p></span></p>

    <p class="MsoNormal"><a name="cl-17"></a><span style="font-size:10.0pt;line-height:
107%"><o:p>&nbsp;</o:p></span></p>

    <p class="MsoNormal"><a name="cl-18"></a><span style="font-size:10.0pt;line-height:
107%">THIS SOFTWARE IS PROVIDED BY
THE COPYRIGHT HOLDERS AND CONTRIBUTORS
"AS IS" AND<a name="cl-19"></a>
ANY EXPRESS OR IMPLIED WARRANTIES,
INCLUDING, BUT NOT LIMITED TO, THE IMPLIED<a name="cl-20"></a> WARRANTIES
OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE<a name="cl-21"></a> DISCLAIMED. IN NO
EVENT SHALL THE COPYRIGHT HOLDER OR
CONTRIBUTORS BE LIABLE FOR<a name="cl-22"></a> ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES<a
                name="cl-23"></a>
(INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;<a name="cl-24"></a> LOSS OF
USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON<a name="cl-25"></a> ANY
THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT<a name="cl-26"></a> (INCLUDING NEGLIGENCE
OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS<a name="cl-27"></a> SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.<o:p></o:p></span>
    </p>

    <p class="MsoNormal"><span style="font-size:10.0pt;line-height:107%"><o:p>&nbsp;</o:p></span></p>

    <p class="MsoNormal"><b><span style="font-size:10.0pt;line-height:107%">JQuery</span></b><span
            style="font-size:10.0pt;line-height:107%"><o:p></o:p></span></p>

    <p class="MsoNormal"><span style="font-size:10.0pt;line-height:107%">Copyright ©
2005, 2014 jQuery Foundation and other contributors,<o:p></o:p></span></p>

    <p class="MsoNormal"><span style="font-size:10.0pt;line-height:107%">https://jquery.org/<o:p></o:p></span></p>

    <p class="MsoNormal"><span style="font-size:10.0pt;line-height:107%"><o:p>&nbsp;</o:p></span></p>

    <p class="MsoNormal"><span style="font-size:10.0pt;line-height:107%">This
software consists of voluntary contributions made by many individuals. For
exact contribution history, see the revision history available at https://github.com/jquery/jquery<o:p></o:p></span></p>

    <p class="MsoNormal"><span style="font-size:10.0pt;line-height:107%">The
following license applies to all parts of this software except as documented
below:<o:p></o:p></span></p>

    <p class="MsoNormal"><span style="font-size:10.0pt;line-height:107%">====<o:p></o:p></span></p>

    <p class="MsoNormal"><span style="font-size:10.0pt;line-height:107%">Permission
is hereby granted, free of charge, to any person obtaining a copy of this
software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights to
use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies
of the Software, and to permit persons to whom the Software is furnished to do
so, subject to the following conditions:<o:p></o:p></span></p>

    <p class="MsoNormal"><span style="font-size:10.0pt;line-height:107%">The above
copyright notice and this permission notice shall be included in all copies or
substantial portions of the Software.<o:p></o:p></span></p>

    <p class="MsoNormal"><span style="font-size:10.0pt;line-height:107%"><o:p>&nbsp;</o:p></span></p>

    <p class="MsoNormal"><span style="font-size:10.0pt;line-height:107%">THE SOFTWARE
IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.<o:p></o:p></span></p>

    <p class="MsoNormal"><span style="font-size:10.0pt;line-height:107%">====<o:p></o:p></span></p>

    <p class="MsoNormal"><span style="font-size:10.0pt;line-height:107%">All files
located in the node_modules and external directories are externally maintained
libraries used by this software which have their own licenses; we recommend you
read them, as their terms may differ from the terms above.<o:p></o:p></span></p>

    <p class="MsoNormal"><span style="font-size:10.0pt;line-height:107%"><o:p>&nbsp;</o:p></span></p>

    <p class="MsoNormal"><b><span style="font-size:10.0pt;line-height:107%">Bootstrap Datetimepicker</span></b><span
            style="font-size:10.0pt;line-height:107%"><o:p></o:p></span></p>

    <p class="MsoNormal"><span style="font-size:10.0pt;line-height:107%">The MIT
License (MIT)<o:p></o:p></span></p>

    <p class="MsoNormal"><span style="font-size:10.0pt;line-height:107%">Copyright ©
2014 Eonasdan, nikoskalogridis<o:p></o:p></span></p>

    <p class="MsoNormal"><span style="font-size:10.0pt;line-height:107%"><o:p>&nbsp;</o:p></span></p>

    <p class="MsoNormal"><span style="font-size:10.0pt;line-height:107%">Permission
is hereby granted, free of charge, to any person obtaining a copy of this
software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights to
use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of
the Software, and to permit persons to whom the Software is furnished to do so,
subject to the following conditions:<o:p></o:p></span></p>

    <p class="MsoNormal"><span style="font-size:10.0pt;line-height:107%">The above
copyright notice and this permission notice shall be included in all copies or
substantial portions of the Software.<o:p></o:p></span></p>

    <p class="MsoNormal"><span style="font-size:10.0pt;line-height:107%"><o:p>&nbsp;</o:p></span></p>

    <p class="MsoNormal"><span style="font-size:10.0pt;line-height:107%">THE SOFTWARE
IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED,
INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR
COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER
IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN
CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.<o:p></o:p></span></p>

    <p class="MsoNormal"><span style="font-size:10.0pt;line-height:107%"><o:p>&nbsp;</o:p></span></p>

    <p class="MsoNormal"><b><span style="font-size:10.0pt;line-height:107%">Bootstrap Table</span></b><span
            style="font-size:10.0pt;line-height:107%"><o:p></o:p></span></p>

    <p class="MsoNormal"><span style="font-size:10.0pt;line-height:107%">(The MIT
License)<o:p></o:p></span></p>

    <p class="MsoNormal"><span style="font-size:10.0pt;line-height:107%">Copyright © 2012-2014
Zhixin Wen &lt;wenzhixin2010@gmail.com&gt;<o:p></o:p></span></p>

    <p class="MsoNormal"><span style="font-size:10.0pt;line-height:107%"><o:p>&nbsp;</o:p></span></p>

    <p class="MsoNormal"><span style="font-size:10.0pt;line-height:107%">Permission
is hereby granted, free of charge, to any person obtaining a copy of this
software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights to
use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies
of the Software, and to permit persons to whom the Software is furnished to do
so, subject to the following conditions:<o:p></o:p></span></p>

    <p class="MsoNormal"><span style="font-size:10.0pt;line-height:107%">The above
copyright notice and this permission notice shall be included in all copies or
substantial portions of the Software.<o:p></o:p></span></p>

    <p class="MsoNormal"><span style="font-size:10.0pt;line-height:107%"><o:p>&nbsp;</o:p></span></p>

    <p class="MsoNormal"><span style="font-size:10.0pt;line-height:107%">THE SOFTWARE
IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED,
INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR
COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER
IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN
CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.<o:p></o:p></span></p>

    </div>
    </div>
    </div>
{% endblock %}




