{% extends "base.html" %}
{% block title %}Terms and Conditions{% endblock %}

{% block content %}
    <div class="container">
    <div class="panel panel-default">
    <div class="panel-body">
    <div style="margin-left: 15px; margin-right: 15px;">

    <h1 class="seqpara2" align="center" style="text-align:center"><b><span lang="EN-GB">Privacy policy</span></b><span
            lang="EN-GB"><o:p></o:p></span></h1>


    <p class="seqpara1"><b><span lang="EN-GB">1.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Introduction<o:p></o:p></span></b>
    </p>

    <p class="seqpara1"><span lang="EN-GB">1.1&nbsp;&nbsp;&nbsp;&nbsp; We
are committed to safeguarding the privacy of our website visitors; in this
policy we explain how we will treat your personal information.<o:p></o:p></span></p>

    <p class="seqpara1"><span lang="EN-GB">1.2&nbsp;&nbsp;&nbsp;&nbsp; By
using our website and agreeing to this policy, you consent to our use of
cookies in accordance with the terms of this policy.<o:p></o:p></span></p>

    <p class="seqpara1"><b><span lang="EN-GB">2.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Credit<o:p></o:p></span></b>
    </p>

    <p class="seqpara1"><span lang="EN-GB">2.1&nbsp;&nbsp;&nbsp;&nbsp; This
document was created using a template from SEQ Legal (http://www.seqlegal.com).<o:p></o:p></span></p>

    <p class="seqpara1"><b><span lang="EN-GB">3.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Collecting personal information<o:p></o:p></span></b>
    </p>

    <p class="seqpara1"><span lang="EN-GB">3.1&nbsp;&nbsp;&nbsp;&nbsp; We
may collect, store and use the following kinds of personal information: <o:p></o:p></span></p>

    <p class="seqlist1"><span lang="EN-GB">(a)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; information
about your computer and about your visits to and use of this website including your
IP address, geographical location, browser type and version, operating system,
referral source, length of visit, page views and website navigation paths;<o:p></o:p></span></p>

    <p class="seqlist1"><span lang="EN-GB">(b)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; information
that you provide to us when registering with our website including your email
address;<o:p></o:p></span></p>

    <p class="seqlist1"><span lang="EN-GB">(c)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; information
that you provide when completing your profile on our website including your
name, profile pictures, address, gender, date of birth, relationship status,
interests and hobbies, educational details and employment details;<o:p></o:p></span></p>

    <p class="seqlist1"><span lang="EN-GB">(d)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; information
that you provide to us for the purpose of subscribing to our email notifications
and/or newsletters including your name and email address;<o:p></o:p></span></p>

    <p class="seqlist1"><span lang="EN-GB">(e)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; information
that you provide to us when using the services on our website, or that is
generated in the course of the use of those services including the timing,
frequency and pattern of service use;<o:p></o:p></span></p>

    <p class="seqlist1"><span lang="EN-GB">(f)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; information
relating to any purchases you make of our goods and/or services or any other
transactions that you enter into through our website including your name,
address, telephone number, email address and card details;<o:p></o:p></span></p>

    <p class="seqlist1"><span lang="EN-GB">(g)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; information
that you post to our website for publication on the internet including your
user name, your profile pictures and the content of your posts;<o:p></o:p></span></p>

    <p class="seqlist1"><span lang="EN-GB">(h)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; information
contained in or relating to any communications that you send to us or send
through our website including the communication content and meta data associated
with the communication;<o:p></o:p></span></p>

    <p class="seqlist1"><span lang="EN-GB">(i)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; any
other personal information that you choose to send to us; and<o:p></o:p></span></p>

    <p class="seqlist1"><span lang="EN-GB">(j)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; any
other information we may deem necessary;<o:p></o:p></span></p>

    <p class="seqpara1"><span lang="EN-GB">3.2&nbsp;&nbsp;&nbsp;&nbsp; Before
you disclose to us the personal information of another person, you must obtain
that person's consent to both the disclosure and the processing of that
personal information in accordance with this policy.<o:p></o:p></span></p>

    <p class="seqpara1"><b><span lang="EN-GB">4.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Using your personal information<o:p></o:p></span></b>
    </p>

    <p class="seqpara1"><span lang="EN-GB">4.1&nbsp;&nbsp;&nbsp;&nbsp; Personal
information submitted to us through our website will be used for the purposes
specified in this policy or on the relevant pages of the website.<o:p></o:p></span></p>

    <p class="seqpara1"><span lang="EN-GB">4.2&nbsp;&nbsp;&nbsp;&nbsp; We
may use your personal information to: <o:p></o:p></span></p>

    <p class="seqlist1"><span lang="EN-GB">(a)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; administer
our website and business;<o:p></o:p></span></p>

    <p class="seqlist1"><span lang="EN-GB">(b)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; personalise
our website for you;<o:p></o:p></span></p>

    <p class="seqlist1"><span lang="EN-GB">(c)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; enable
your use of the services available on our website;<o:p></o:p></span></p>

    <p class="seqlist1"><span lang="EN-GB">(d)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; send
you goods purchased through our website;<o:p></o:p></span></p>

    <p class="seqlist1"><span lang="EN-GB">(e)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; supply
to you services purchased through our website;<o:p></o:p></span></p>

    <p class="seqlist1"><span lang="EN-GB">(f)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; send
statements, invoices and payment reminders to you, and collect payments from
you;<o:p></o:p></span></p>

    <p class="seqlist1"><span lang="EN-GB">(g)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; send
you non-marketing commercial communications;<o:p></o:p></span></p>

    <p class="seqlist1"><span lang="EN-GB">(h)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; send
you email notifications that you have specifically requested;<o:p></o:p></span></p>

    <p class="seqlist1"><span lang="EN-GB">(i)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; send
you marketing communications relating to our business or the businesses of carefully-selected
third parties which we think may be of interest to you, by post or, where you
have specifically agreed to this, by email or similar technology you can inform
us at any time if you no longer require marketing communications;<o:p></o:p></span></p>

    <p class="seqlist1"><span lang="EN-GB">(j)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; provide
third parties with statistical information about our users but those third
parties will not be able to identify any individual user from that information;<o:p></o:p></span></p>

    <p class="seqlist1"><span lang="EN-GB">(k)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; deal
with inquiries and complaints made by or about you relating to our website;<o:p></o:p></span></p>

    <p class="seqlist1"><span lang="EN-GB">(l)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; keep
our website secure and prevent fraud;<o:p></o:p></span></p>

    <p class="seqlist1"><span lang="EN-GB">(m)&nbsp;&nbsp;&nbsp;&nbsp; verify
compliance with the terms and conditions governing the use of our website including
monitoring private messages sent through our website private messaging service;
<o:p></o:p></span></p>

    <p class="seqpara1"><span lang="EN-GB">4.3&nbsp;&nbsp;&nbsp;&nbsp; If
you submit personal information for publication on our website, we will publish
and otherwise use that information in accordance with the licence you grant to
us.<o:p></o:p></span></p>

    <p class="seqpara1"><b><span lang="EN-GB">5.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Disclosing personal information<o:p></o:p></span></b>
    </p>

    <p class="seqpara1"><span lang="EN-GB">5.1&nbsp;&nbsp;&nbsp;&nbsp; We
may disclose your personal information to any of our employees, officers,
insurers, professional advisers, agents, suppliers or subcontractors insofar as
reasonably necessary for the purposes set out in this policy.<o:p></o:p></span></p>

    <p class="seqpara1"><span lang="EN-GB">5.2&nbsp;&nbsp;&nbsp;&nbsp; We
may disclose your personal information to any member of our group of companies this
means our subsidiaries, our ultimate holding company and all its subsidiaries
insofar as reasonably necessary for the purposes set out in this policy.<o:p></o:p></span></p>

    <p class="seqpara1"><span lang="EN-GB">5.3&nbsp;&nbsp;&nbsp;&nbsp; We
may disclose your personal information: <o:p></o:p></span></p>

    <p class="seqlist1"><span lang="EN-GB">(a)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; to
the extent that we are required to do so by law;<o:p></o:p></span></p>

    <p class="seqlist1"><span lang="EN-GB">(b)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; in
connection with any ongoing or prospective legal proceedings;<o:p></o:p></span></p>

    <p class="seqlist1"><span lang="EN-GB">(c)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; in
order to establish, exercise or defend our legal rights (including providing
information to others for the purposes of fraud prevention and reducing credit
risk);<o:p></o:p></span></p>

    <p class="seqlist1"><span lang="EN-GB">(d)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; to
the purchaser or prospective purchaser of any business or asset that we are or
are contemplating selling; and<o:p></o:p></span></p>

    <p class="seqlist1"><span lang="EN-GB">(e)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; to
any person who we reasonably believe may apply to a court or other competent
authority for disclosure of that personal information where, in our reasonable
opinion, such court or authority would be reasonably likely to order disclosure
of that personal information.<o:p></o:p></span></p>

    <p class="seqpara1"><span lang="EN-GB">5.4&nbsp;&nbsp;&nbsp;&nbsp; Except
as provided in this policy, we will not provide your personal information to
third parties.<o:p></o:p></span></p>

    <p class="seqpara1"><b><span lang="EN-GB">6.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; International data transfers<o:p></o:p></span></b>
    </p>

    <p class="seqpara1"><span lang="EN-GB">6.1&nbsp;&nbsp;&nbsp;&nbsp; Information
that we collect may be stored and processed in and transferred between any of
the countries in which we operate in order to enable us to use the information
in accordance with this policy.<o:p></o:p></span></p>

    <p class="seqpara1"><span lang="EN-GB">6.2&nbsp;&nbsp;&nbsp;&nbsp; Information
that we collect may be transferred any country some of which which do not have
data protection laws equivalent to those in force in the United States of
America<o:p></o:p></span></p>

    <p class="seqpara1"><span lang="EN-GB">6.3&nbsp;&nbsp;&nbsp;&nbsp; Personal
information that you publish on our website or submit for publication on our
website may be available, via the internet, around the world. We cannot prevent
the use or misuse of such information by others.<o:p></o:p></span></p>

    <p class="seqpara1"><span lang="EN-GB">6.4&nbsp;&nbsp;&nbsp;&nbsp; You
expressly agree to the transfers of personal information described in this
Section 6.<o:p></o:p></span></p>

    <p class="seqpara1"><b><span lang="EN-GB">7.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Retaining personal information<o:p></o:p></span></b>
    </p>

    <p class="seqpara1"><span lang="EN-GB">7.1&nbsp;&nbsp;&nbsp;&nbsp; This
Section 7 sets out our data retention policies and procedure, which are
designed to help ensure that we comply with our legal obligations in relation
to the retention and deletion of personal information.<o:p></o:p></span></p>

    <p class="seqpara1"><span lang="EN-GB">7.2&nbsp;&nbsp;&nbsp;&nbsp; Personal
information that we process for any purpose or purposes shall not be kept for
longer than is necessary for that purpose or those purposes.<o:p></o:p></span></p>

    <p class="seqpara1"><span lang="EN-GB">7.3&nbsp;&nbsp;&nbsp;&nbsp; Notwithstanding
the other provisions of this Section 7, we will retain documents including
electronic documents containing personal data: <o:p></o:p></span></p>

    <p class="seqlist1"><span lang="EN-GB">(a)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; to
the extent that we are required to do so by law;<o:p></o:p></span></p>

    <p class="seqlist1"><span lang="EN-GB">(b)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; if
we believe that the documents may be relevant to any ongoing or prospective
legal proceedings; and<o:p></o:p></span></p>

    <p class="seqlist1"><span lang="EN-GB">(c)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; in
order to establish, exercise or defend our legal rights (including providing
information to others for the purposes of fraud prevention and reducing credit
risk).<o:p></o:p></span></p>

    <p class="seqpara1"><b><span lang="EN-GB">8.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Security of your personal information<o:p></o:p></span></b>
    </p>

    <p class="seqpara1"><span lang="EN-GB">8.1&nbsp;&nbsp;&nbsp;&nbsp; We
will take reasonable technical and organisational precautions to prevent the
loss, misuse or alteration of your personal information.<o:p></o:p></span></p>

    <p class="seqpara1"><span lang="EN-GB">8.2&nbsp;&nbsp;&nbsp;&nbsp; We
will store all the personal information you provide on our secure servers.<o:p></o:p></span></p>

    <p class="seqpara1"><span lang="EN-GB">8.3&nbsp;&nbsp;&nbsp;&nbsp; All
electronic financial transactions entered into through our website will be protected
by encryption technology.<o:p></o:p></span></p>

    <p class="seqpara1"><span lang="EN-GB">8.4&nbsp;&nbsp;&nbsp;&nbsp; You
acknowledge that the transmission of information over the internet is
inherently insecure, and we cannot guarantee the security of data sent over the
internet.<o:p></o:p></span></p>

    <p class="seqpara1"><span lang="EN-GB">8.5&nbsp;&nbsp;&nbsp;&nbsp; You
are responsible for keeping the password you use for accessing our website
confidential; we will not ask you for your password except when you log in to
our website.<o:p></o:p></span></p>

    <p class="seqpara1"><b><span lang="EN-GB">9.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Amendments<o:p></o:p></span></b>
    </p>

    <p class="seqpara1"><span lang="EN-GB">9.1&nbsp;&nbsp;&nbsp;&nbsp; We
may update this policy from time to time by publishing a new version on our
website.<o:p></o:p></span></p>

    <p class="seqpara1"><span lang="EN-GB">9.2&nbsp;&nbsp;&nbsp;&nbsp; You
should check this page occasionally to ensure you are happy with any changes to
this policy.<o:p></o:p></span></p>

    <p class="seqpara1"><b><span lang="EN-GB">10.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Your rights<o:p></o:p></span></b></p>

    <p class="seqpara1"><span lang="EN-GB">10.1&nbsp;&nbsp;&nbsp; You
may instruct us to provide you with any personal information we hold about you;
provision of such information will be subject to: <o:p></o:p></span></p>

    <p class="seqlist1"><span lang="EN-GB">(a)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; the
payment of a fee ; and<o:p></o:p></span></p>

    <p class="seqlist1"><span lang="EN-GB">(b)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; the
supply of appropriate evidence of your identity for this purpose, we will
usually accept a photocopy of your passport certified by a solicitor or bank
plus an original copy of a utility bill showing your current address.<o:p></o:p></span></p>

    <p class="seqpara1"><span lang="EN-GB">10.2&nbsp;&nbsp;&nbsp; We
may withhold personal information that you request to the extent permitted by
law.<o:p></o:p></span></p>

    <p class="seqpara1"><span lang="EN-GB">10.3&nbsp;&nbsp;&nbsp; You
may instruct us at any time not to process your personal information for
marketing purposes.<o:p></o:p></span></p>

    <p class="seqpara1"><span lang="EN-GB">10.4&nbsp;&nbsp;&nbsp; In
practice, you will usually either expressly agree in advance to our use of your
personal information for marketing purposes, or we will provide you with an
opportunity to opt out of the use of your personal information for marketing
purposes.<o:p></o:p></span></p>

    <p class="seqpara1"><b><span lang="EN-GB">11.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Third party websites<o:p></o:p></span></b>
    </p>

    <p class="seqpara1"><span lang="EN-GB">11.1&nbsp;&nbsp;&nbsp; Our
website may include hyperlinks to, and details of, third party websites.<o:p></o:p></span></p>

    <p class="seqpara1"><span lang="EN-GB">11.2&nbsp;&nbsp;&nbsp; We
have no control over, and are not responsible for, the privacy policies and
practices of third parties.<o:p></o:p></span></p>

    <p class="seqpara1"><b><span lang="EN-GB">12.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Updating information<o:p></o:p></span></b>
    </p>

    <p class="seqpara1"><span lang="EN-GB">12.1&nbsp;&nbsp;&nbsp; Please
let us know if the personal information that we hold about you needs to be
corrected or updated.<o:p></o:p></span></p>

    <p class="seqpara1"><b><span lang="EN-GB">13.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Cookies<o:p></o:p></span></b></p>

    <p class="seqpara1"><span lang="EN-GB">13.1&nbsp;&nbsp;&nbsp; Our
website uses cookies.<o:p></o:p></span></p>

    <p class="seqpara1"><span lang="EN-GB">13.2&nbsp;&nbsp;&nbsp; A
cookie is a file containing an identifier that is sent by a web server to a web
browser and is stored by the browser. The identifier is then sent back to the
server each time the browser requests a page from the server.<o:p></o:p></span></p>

    <p class="seqpara1"><span lang="EN-GB">13.3&nbsp;&nbsp;&nbsp; Cookies
may be either "persistent" cookies or "session" cookies: a
persistent cookie will be stored by a web browser and will remain valid until
its set expiry date, unless deleted by the user before the expiry date; a
session cookie, on the other hand, will expire at the end of the user session,
when the web browser is closed. <o:p></o:p></span></p>

    <p class="seqpara1"><span lang="EN-GB">13.4&nbsp;&nbsp;&nbsp; Cookies
do not typically contain any information that personally identifies a user, but
personal information that we store about you may be linked to the information
stored in and obtained from cookies.<o:p></o:p></span></p>

    <p class="seqpara1"><span lang="EN-GB">13.5&nbsp;&nbsp;&nbsp; We
use both session and persistent cookies on our website.<o:p></o:p></span></p>

    <p class="seqpara1"><span lang="EN-GB">13.6&nbsp;&nbsp;&nbsp; Most
browsers allow you to refuse to accept cookies; for example: <o:p></o:p></span></p>

    <p class="seqlist1"><span lang="EN-GB">(a)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; in
Internet Explorer (version 10) you can block cookies using the cookie handling
override settings available by clicking "Tools", "Internet
Options", "Privacy" and then "Advanced";<o:p></o:p></span></p>

    <p class="seqlist1"><span lang="EN-GB">(b)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; in
Firefox (version 24) you can block all cookies by clicking "Tools",
"Options", "Privacy", selecting "Use custom settings
for history" from the drop-down menu, and unticking "Accept cookies
from sites"; and<o:p></o:p></span></p>

    <p class="seqlist1"><span lang="EN-GB">(c)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; in
Chrome (version 29), you can block all cookies by accessing the "Customise
and control" menu, and clicking "Settings", "Show advanced
settings" and "Content settings", and then selecting "Block
sites from setting any data" under the "Cookies" heading.<o:p></o:p></span></p>

    <p class="seqpara1"><span lang="EN-GB">13.8&nbsp;&nbsp;&nbsp; Blocking
all cookies will have a negative impact upon the usability of many websites.<o:p></o:p></span></p>

    <p class="seqpara1"><span lang="EN-GB">13.9&nbsp;&nbsp;&nbsp; If
you block cookies, you will not be able to use all the features on our website.<o:p></o:p></span></p>

    <p class="seqpara1"><span lang="EN-GB">13.10&nbsp; You
can delete cookies already stored on your computer; for example:<o:p></o:p></span></p>

    <p class="seqlist1"><span lang="EN-GB">(a)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; in
Internet Explorer (version 10), you must manually delete cookie files (you can
find instructions for doing so at http://support.microsoft.com/kb/278835);<o:p></o:p></span></p>

    <p class="seqlist1"><span lang="EN-GB">(b)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; in
Firefox (version 24), you can delete cookies by clicking "Tools",
"Options" and "Privacy", then selecting "Use custom
settings for history", clicking "Show Cookies", and then
clicking "Remove All Cookies"; and<o:p></o:p></span></p>

    <p class="seqlist1"><span lang="EN-GB">(c)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; in
Chrome (version 29), you can delete all cookies by accessing the
"Customise and control" menu, and clicking "Settings",
"Show advanced settings" and "Clear browsing data", and
then selecting "Delete cookies and other site and plug-in data"
before clicking "Clear browsing data".<o:p></o:p></span></p>

    <p class="seqpara1"><span lang="EN-GB">13.11&nbsp; Deleting
cookies will have a negative impact on the usability of many websites.<o:p></o:p></span></p>

    <p class="seqpara1"><b><span lang="EN-GB">15.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Our details<o:p></o:p></span></b></p>

    <p class="seqpara1"><span lang="EN-GB">15.1&nbsp;&nbsp;&nbsp; This
website is owned and operated by ToolShare.<o:p></o:p></span></p>

    <p class="seqpara1"><span lang="EN-GB">15.3&nbsp;&nbsp;&nbsp; Our
principal place of business is at 1 Lomb Memorial Drive, Rochester, NY, 14623.<o:p></o:p></span></p>

    <p class="seqpara1"><span lang="EN-GB">15.4&nbsp;&nbsp;&nbsp; You
can contact us by writing to the business address given above, by using our
website contact form, by email to <o:p></o:p></span></p>

    <p class="seqpara1" style="text-indent:34.8pt"><span lang="EN-GB">Sergio Martins by
email to spm5065@rit.edu.<o:p></o:p></span></p>

    <p class="seqpara1"><span lang="EN-GB">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Noah
Frank by email to naf9685@rit.edu.<o:p></o:p></span></p>

    <p class="seqpara1"><span lang="EN-GB">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Dominic
Cicilio by email to dpc2061@rit.edu.<o:p></o:p></span></p>

    <p class="seqpara1"><span lang="EN-GB">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Zak
Gier by email to zjg7275@rit.edu.<o:p></o:p></span></p>

    <p class="seqpara1"><span lang="EN-GB">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Joseph
Lynn by email to jml1074@rit.edu.<o:p></o:p></span></p>

    <p class="seqpara1"><span lang="EN-GB">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Jeffery
Barker by email to jdb2438@rit.edu.<o:p></o:p></span></p>

    </div>
    </div>
    </div>
    </div>
{% endblock %}